.container {
  min-width: 600px;
}

.title {
  background-color: #043a4c;
  color: white;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  padding: 50px 0;
}

.page {
  margin: 0 auto 20px auto;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;

  h3 {
  	font-size: 26px;
  	margin-top: 80px;
  	margin-bottom: 0px;
  }

  .block {
  	&:first-child {
  		margin-top: 80px;
  		margin-bottom: 0;
  		font-size: 22px;
  	}

  	margin: 30px;
  	text-align: center;
  	font-size: 18px;
  	line-height: 30px;

  	&.with-image {
  		&.main-findings-report {
        background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('main-findings-report.png');
        background-size: cover;
  		}

  		&.methodology-report {
        background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('methodology-report.png');
        background-size: cover;
  		}

      margin: 30px 0;
      color: white;
      padding: 70px 30px;

  		.subtitle {
  			font-size: 24px;
  			font-weight: bold;
  			margin-bottom: 30px;
  		}
  	}
  }

  .download-button {
  	padding: 15px 25px;
  	color: white;
  	font-weight: bold;
  	font-size: 20px;
  	text-decoration: none;
  	background-color: #3CA4C3;
  	margin: 20px;
  	border-radius: 5px;

  	svg {
  		width: 25px;
  		margin-right: 10px;
  	}
  }
}
